{% extends 'catalog/base.html' %}
{% load tags %}
{% block content %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'blog:create' %}">Добавить блог</a>
</div>
{% for object in object_list %}
<div class="col-md-6">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <p class="card-text">
                {{ object|title }}
            </p>
            <div class="card-body">
                    <h1 class="card-title pricing-card-title"></h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ object.content | slice:100 }}...</li>
                    </ul>
                    <p><a class="btn btn-group">
                        <a href="{% url 'blog:view' object.pk %}" type="button"
                            class="btn btn-sm btn-outline-secondary">View</a>
                        <a href="{% url 'blog:edit' object.pk %}" type="button"
                            class="btn btn-sm btn-outline-secondary">Edit</a>
                        <a href="{% url 'blog:delete' object.pk %}" type="button"
                            class="btn btn-sm btn-outline-secondary">Delete</a>
                    </a></p>
                </div>
        </div>
        </div>
{% endfor %}
    </div>
{% endblock %}