{% extends 'catalog/base.html' %}
{% load tags %}
{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{ object.name_product }}</h1>
    </div>
    <img src="{{ object.image|mediapath }}" class="img-fluid mx-auto d-block" alt="...">

    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <td class="w-25">Категория:</td>
                    <td>{{ object.category }}</td>
                </tr>
                <tr>
                    <td class="w-25">Описание:</td>
                    <td>{{ object.description }}</td>
                </tr>
                <tr>
                    <td class="w-25">Цена:</td>
                    <td>{{ object.price }} руб.</td>
                </tr>
                <tr>
                    <td class="w-25">Дата создания:</td>
                    <td>{{ object.date_of_creation }}</td>
                </tr>
                <tr>
                    <td class="w-25">Дата последнего изменения:</td>
                    <td>{{ object.last_modified_date }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}